<nav class="navbar bg-dark navbar-expand-lg py-4" data-bs-theme="dark">
    <div class="container">
      <h2 class="h2 text-light">Rick and Morty</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']" [ngClass]="{active: activePage() === 'character'}">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/episode']" [ngClass]="{active: activePage() === 'episode'}">Episodes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>